<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/style.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <title>Security Toggle</title>
</head>

<body>

    <div id="hidden-data" style="display: none;">
       <div id="callback-url" data-url="<%= urlcallback %>"></div>
       <div id="token" data-token="<%= token %>"></div>
       <div id="img-helper"></div>
    </div>

    <header class="header">
        <h1 class="index-title">Security Toggler</h1>
    </header>

    <main class="main">
        <div class="option-wrapper panel panel-default">
            <div class="option">
                <div class="panel-heading">
                    <button id="sde-toggle-btn" type="button" class="btn btn-secondary margin-handler btn-xs spoiler-trigger" data-toggle="collapse">Sensitive Data Exposure</button>
                </div>
                <div class="panel-collapse collapse out">
                    <div class="panel-body sde-wrapper">
                        <div>
                            <label class="secure-label">Store safely: </label>
                            <input type="checkbox" data-toggle="toggle" id="toggle-one" data-offstyle="danger" data-on="Yes" data-off="No">
                        </div>
                        <div class="user-input">
                            <input minlength="2" id="secure-sde-data" type="text" class="form-control" placeholder="Input some sensitive data">
                            <div class="btn-list">
                                <button onclick="return sendSde()" class="btn btn-info width-handler">Store data</button>
                                <button onclick="return attackSde()" class="btn btn-info width-handler">Execute attack</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option">
                <div class="panel-heading">
                    <button type="button" class="btn btn-secondary margin-handler btn-xs spoiler-trigger" data-toggle="collapse">Cross Site Scripting</button>
                </div>
                <div class="panel-collapse collapse out">
                    <div class="panel-body sde-wrapper">
                        <div>
                            <label class="secure-label">Disable XSS: </label>
                            <input type="checkbox" data-toggle="toggle" id="toggle-two" data-offstyle="danger">
                        </div>
                        <div class="xss-commands">
                            <div class="xss-option">
                                <label class="option-title">Reflected: </label>
                                <form class="margin-handler xss-toggler" target="_self" action="xss/reflect" method="GET">
                                    <input name="usersend" type="hidden" value="x onerror=javascript:logOnInterface('Reflect+attack:+Stolen+your+cookie+through+img+src:+<br/>'+document.cookie);" class="form-control" placeholder="Place image url">
                                    <input type="submit" class="btn btn-info width-handler" value="Attack"/>
                                </form>
                            </div>
                            <div class="xss-option">
                                <label class="option-title">Stored: </label>
                                <div class="margin-handler">
                                    <button onclick="return attackXSSStored()" class="btn btn-info width-handler">Attack</button>
                                </div>
                            </div>
                            <div class="xss-option">
                                <label class="option-title">Dom: </label>
                                <form class="margin-handler xss-toggler" target="_self" action="/xss/dom" method="GET">
                                    <input name="domsend" type="hidden" value="<script>logOnInterface('DOM attack: Stolen your cookie through non filtered URL write:<br/>'+document.cookie)</script>" class="form-control" placeholder="Place image url">
                                    <input type="submit" class="btn btn-info width-handler" value="Attack"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option">
                <div class="panel-heading">
                    <button type="button" class="btn btn-secondary margin-handler btn-xs spoiler-trigger" data-toggle="collapse">Cross Site Request Forgery</button>
                </div>
                <div class="panel-collapse collapse out">
                    <div class="panel-body sde-wrapper">
                        <div>
                            <label class="secure-label">Disable CSRF: </label>
                            <input type="checkbox" data-toggle="toggle" id="toggle-three" data-offstyle="danger" data-on="Yes" data-off="No">
                        </div>
                        <div class="user-input user-input-csrf">
                            <input minlength="2" id="secure-csrf-data" type="text" class="form-control" placeholder="Input your funds">
                            <div class="btn-list">
                                <button onclick="return storeCsrf()" class="btn btn-info width-handler">Store funds</button>
                                <button onclick="return getCsrf()" class="btn btn-info width-handler">Get state</button>
                                <button onclick="return attackCsrf()" class="btn btn-info width-handler">Attack</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    
        <div class="result-interface">
            <span class="interface-title">Result of selected action:</span>
            <div id="interface" data-empty="true" class="interface">
                <% if(userinput) { %>
                Loaded image:  <img src=<%=userinput%>>
                <% } else { %>
                No action selected yet :)
                <% } %>    
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="/main.js"></script>

    <!-- DOM injection -->
    <script>
        var pozicija = document.URL.indexOf("domsend=");
        if(pozicija > 0) {
            document.write(decodeURIComponent(document.URL.substring(pozicija+8, document.URL.length)));
        }
    </script>

    <% if(msg) { %>
        <script>
            logOnInterface('<%=msg%>');
        </script>
    <% } %>
</body>

</html>