body {
    background-color: #1f2833 !important;
    color: white;
    overflow-y: hidden;
}

.header {
    margin: 5vh auto 0px;
    min-width: 20vw;
    text-align: center;
}

.index-title {
    color: #66FCF1;
    font-size: 80px;
}

.main {
    margin: 20vh auto;
    display: flex;
    justify-content: space-around;

    min-width: 70vw;
    min-height: 60vh;
}

.option-wrapper, .sde-wrapper, .user-input, .btn-list, .xss-commands {
    display: flex;
    justify-content: space-around;
}

.sde-wrapper {
    border: 1px solid #66FCF1;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    align-items: center;
}

.result-interface, .user-input, .xss-option {
    display: flex;
    flex-direction: column;
}

.xss-commands {
    width: 15vw;
    flex-wrap: wrap;
}

.xss-option {
    align-items: center;
}

.user-input {
    min-height: 15vh;
    min-width: 15vw;
}

.user-input-csrf {
    min-width: 20vw;
}

.option-title, .interface-title {
    color: #66FCF1;
}

.spoiler-trigger {
    color: white !important;
}

.interface {
    border: 1px solid #66FCF1;
    border-radius: 10px;
    color: white;
    padding: 10px;

    background-color: #192029;

    margin-top: 10px;

    width: 40vw;
    height: 30vh;

    overflow-y: scroll;
}

.toggle-handle {
    background-color: aliceblue !important;
}

.width-handler {
    min-width: 5vw !important;
}

.margin-handler {
    margin: 5px !important;
}

.secure-label {
    color: white;
    margin: 10px 5px;
}

.panel-collapse {
    position: absolute;
    min-width: 30vw;
    left: 10vw;
}

#secure-csrf-data {
    max-width: 15vw !important;
    align-self: center;
}